<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form [formGroup]="formGroupRegistro">

      <ion-item>
        <ion-label position="floating">Cedula</ion-label>
        <ion-input formControlName="cedula" type="text" aria-label="cedula" [(ngModel)]="nuevoUsuario.cedula"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="formGroupRegistro.get('cedula').invalid && formGroupRegistro.get('cedula').touched">
        <p *ngIf="formGroupRegistro.get('cedula').errors['required']">Cedula es requerido.</p>
      </ion-text>


      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" aria-label="nombre" [(ngModel)]="nuevoUsuario.nombre"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="formGroupRegistro.get('nombre').invalid && formGroupRegistro.get('nombre').touched">
        <p *ngIf="formGroupRegistro.get('nombre').errors['required']">Nombre es requerido.</p>
      </ion-text>


      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="correo" type="text" aria-label="correo" [(ngModel)]="nuevoUsuario.correo"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="formGroupRegistro.get('correo').invalid && formGroupRegistro.get('correo').touched">
        <p *ngIf="formGroupRegistro.get('correo').errors['required']">Correo es requerido.</p>
      </ion-text>


      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input formControlName="celular" type="text" aria-label="celular" [(ngModel)]="nuevoUsuario.celular"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="formGroupRegistro.get('celular').invalid && formGroupRegistro.get('celular').touched">
        <p *ngIf="formGroupRegistro.get('celular').errors['required']">Celular es requerido.</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="formGroupRegistro.get('password').invalid && formGroupRegistro.get('password').touched">
        <p *ngIf="formGroupRegistro.get('password').errors['required']">Contraseña es requerida.</p>
        <p *ngIf="formGroupRegistro.get('password').errors['minlength']">Contraseña debe tener al menos 6 caracteres.</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="formGroupRegistro.get('confirmPassword').invalid && formGroupRegistro.get('confirmPassword').touched">
        <p *ngIf="formGroupRegistro.get('confirmPassword').errors['required']">Confirmar contraseña es requerida.</p>
      </ion-text>
      <ion-text color="danger" *ngIf="formGroupRegistro?.errors?.['passwordMismatch'] && formGroupRegistro.get('confirmPassword').touched">
        <p>Las contraseñas no coinciden.</p>
      </ion-text>


      <ion-button type="submit"  style="margin-left: 10px; font-size: 9px;" color="success" [disabled]="formGroupRegistro.invalid" (click)="guardar()">Enviar</ion-button>

    </form>
  </ion-card>
</ion-content>
