<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Charlon Car
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Charlon Car</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="../../assets/icon/coche.png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bienvenido
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Viaje seguro y economico
    </ion-card-content>


    <hr>

    <ion-item>
      <a href="/login">Inicia sesion</a>
    </ion-item>
    <ion-item>
      <a href="/registro">No tienes una cuenta? Creala por aqui</a>
    </ion-item>
  </ion-card>


</ion-content>
